<div class="signin-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="signIn()">
                <h3 style="font-weight: bold;text-transform: uppercase;">Connexion</h3>
                <mat-form-field class="full-width-input">
                    <div style="margin-bottom:-30px;">
                        <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
                    </div>
                    <span matPrefix>
                <mat-icon> person_pin</mat-icon>
                      </span>
                    <input matInput placeholder="Nom" formControlName="username" required>
                    <mat-error *ngIf="isFieldInvalid('username')" style="color: red;">
                        Le nom ne peut pas être nul !
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <div style="margin-bottom:-30px;">
                        <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
                    </div>
                    <span matPrefix>
         <mat-icon>https</mat-icon>
                      </span>
                    <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('password')" style="color: red;">
                        Le mot de passe ne peut pas être nul !
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="form.status != 'VALID'" type="submit">Connexion &nbsp;&nbsp; <mat-icon *ngIf="loading"><mat-spinner color="accent" style="color: white!important;" diameter="20">
    </mat-spinner></mat-icon></button>
            </form>

        </mat-card-content>
    </mat-card>
</div>