<mat-toolbar color="primary" class="">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
    <div class="nav-brand">
        Material Admin
    </div>
    <span class="nav-spacer"></span>
    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
    <mat-menu #profile="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="profile">
      <mat-icon style="color: #1f2937b4!important;">person</mat-icon>
      <span>Profile</span>
    </button>
        <button mat-menu-item>
      <mat-icon style="color: #1f2937b4!important;">inbox</mat-icon>
      <span>Inbox</span>
    </button>
        <button mat-menu-item>
      <mat-icon style="color: #1f2937b4!important;">settings</mat-icon>
      <span>Settings</span>
    </button>
    </mat-menu>
    <button mat-icon-button (click)="confirLogout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>