<div mat-dialog-title style="justify-content: center; text-align: center;font-weight: bold;">
    <h2>Modifier le mot de passe</h2>
</div>
<form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdatePasswordSubmit()">
    <div mat-dialog-content class="content">

        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.errors?.['required']" style="color:red ;">Le champ est requis.</mat-error>
        </mat-form-field>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="updatePasswordForm.status != 'VALID'">Modifier</button>
    </div>
</form>