<div class="user-container">
    <div class="">
        <h4>Utilisateurs</h4>
    </div>
    <div id="row">
        <div class="col">
            <p>
                <button mat-flat-button (click)="openAddEditEmpForm()">
          <mat-icon>add</mat-icon>
          Ajouter
        </button>
            </p>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>
    </div>


    <div class="mat-elevation-z2">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role</th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="statut">
                <th mat-header-cell *matHeaderCellDef> Statut</th>
                <td mat-cell *matCellDef="let element"> <span *ngIf="element.statut==true" style="padding:10px 20px; background-color: rgba(0, 128, 0, 0.242);">Activer <small style="color: transparent;">bbb</small>   </span>
                    <span *ngIf="element.statut==false" style="padding:10px 20px; background-color: rgba(128, 0, 15, 0.147);">Désactiver </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Crée le </th>
                <td mat-cell *matCellDef="let element"> {{element.date| date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="expiredDate">
                <th mat-header-cell *matHeaderCellDef> Expire le </th>
                <td mat-cell *matCellDef="let element"> {{element.expiredDate| date: 'MM/dd/yyyy HH:mm'}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="expired">
                <th mat-header-cell *matHeaderCellDef> Expire </th>
                <td mat-cell *matCellDef="let element"> <span *ngIf="element.expired==true" style="padding:10px 23px; background-color: rgba(0, 128, 0, 0.242);">OUI<small style="color: transparent;"></small></span>
                    <span *ngIf="element.expired==false" style="padding:10px 20px; background-color: rgba(128, 0, 15, 0.147);">NON</span>
                </td>
            </ng-container>



            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Modifier les informations" [matTooltipPosition]="position.value!" aria-label="Example icon button with a delete icon" [routerLink]="['/admin/user', element.id]">
                     <mat-icon style="color:#0f174cc8;">edit</mat-icon>
                  </button>
                    <button mat-icon-button matTooltip="Détails" [matTooltipPosition]="position.value!" (click)="openUSerDetailsDialog(element)" aria-label="Example icon button with a delete icon">
                     <mat-icon style="color:#0f3d4cc8;">remove_red_eye</mat-icon>
                  </button>
                    <button mat-icon-button title="Modifier le mot de passe" matTooltip="Modifier le mot de passe" [matTooltipPosition]="position.value!" aria-label="Example icon button with a delete icon">
                     <mat-icon style="color:#0f174cc8;">https</mat-icon>
                  </button>
                    <button mat-icon-button aria-label="Example icon button with a delete icon" matTooltip="Supprimer l'utilisateur" [matTooltipPosition]="position.value!" (click)="DelateUserDialog()">
                     <mat-icon style="color:rgba(255, 60, 0, 0.882);" >delete</mat-icon>
                  </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</div>