:host {
    display: flex;
    flex-direction: column;
    gap: 22px;
}


/* Replace fxLayout="row wrap" */

.user-container {}

table {
    width: 100%;
}

#row {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.table-container {
    max-height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.mainHeader {
    border-bottom: none;
}

.progressBarRow {
    min-height: 5px;
}

.progressBarRow .progressBarCell {
    padding: 0;
}