<mat-card [ngClass]="bgClass">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="icon-lg" style="color: #111111c8;">{{icon}}</mat-icon>
        </div>
        <mat-card-title style="color: #111111c8;">{{count}}</mat-card-title>
        <mat-card-subtitle style="color: #111111c8;">{{label}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="float-right" style="color: #111111c8; text-transform: uppercase;font-weight: bold;">View Details</button>
    </mat-card-actions>
</mat-card>